In [1]:
import pandas as pd
d1={
    "name":['Sai','Deepak','tvk'],
    "age":[20,21,22]
    
}
d2={
    "qualified":[True,True,False]}

In [2]:
df1=pd.DataFrame(d1)#join function
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

     name  age
0     Sai   20
1  Deepak   21
2     tvk   22
   qualified
0       True
1       True
2      False
     name  age  qualified
0     Sai   20       True
1  Deepak   21       True
2     tvk   22      False

In [2]:
#merge
import pandas as pd
d1={"name":["sai","deepak","csk"],"age":[20,21,22]}
d2={"name":["sundeep","dilak","smps"],"age":[20,21,22]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age"))
newdf2=(df1.merge(df2,on="age"))
print(newdf1)
print(newdf2)

     name  age
0     sai   20
1  deepak   21
2     csk   22
      name  age
0  sundeep   20
1    dilak   21
2     smps   22
    name_x  age  name_y
0  sundeep   20     sai
1    dilak   21  deepak
2     smps   22     csk
   name_x  age   name_y
0     sai   20  sundeep
1  deepak   21    dilak
2     csk   22     smps

In [7]:
df=pd.DataFrame({"team":['A','B','C','D'],"points":[90,56,75,88],'assists':[12,34,23,44],'rebounds':[56,43,44,12]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
print(df)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      75       23        44
3    D      88       44        12
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     75
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     44
11    D  rebounds     12