In [2]:
import pandas as pd
d=pd.read_csv("employees details - employees details.csv")
print(d)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [17]:
import pandas as pd
df=pd.read_csv("/Users/student/Downloads/employees details - employees details.csv")
print(df)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [11]:
import pandas as pd
d=df.head
print(d)

<bound method NDFrame.head of     Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]>

In [13]:
import pandas as pd
d=pd.DataFrame(df)
print("column:",df.columns)
print(df.shape)

column: Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Salary'],
      dtype='object')
(100, 11)

In [18]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/employees details - employees details.csv")
print("            name\n",df["First Name"])

            name
 0         Lois
1       Brenda
2          Joe
3        Diane
4     Benjamin
        ...
95        Jose
96      Harold
97      Nicole
98     Theresa
99       Tammy
Name: First Name, Length: 100, dtype: object

In [19]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/employees details - employees details.csv")
print("            name\n",df[ "E Mail"])

            name
 0          lois.walker@hotmail.com
1        brenda.robinson@gmail.com
2           joe.robinson@gmail.com
3            diane.evans@yahoo.com
4     benjamin.russell@charter.net
                  ...
95           jose.hill@hotmail.com
96         harold.nelson@gmail.com
97           nicole.ward@yahoo.com
98        theresa.murphy@gmail.com
99         tammy.young@comcast.net
Name: E Mail, Length: 100, dtype: object

In [22]:
import pandas as pd
d=pd.read_excel("employees details.xlsx")
print("            name\n",df[ "E Mail"])

            name
 0          lois.walker@hotmail.com
1        brenda.robinson@gmail.com
2           joe.robinson@gmail.com
3            diane.evans@yahoo.com
4     benjamin.russell@charter.net
                  ...
95           jose.hill@hotmail.com
96         harold.nelson@gmail.com
97           nicole.ward@yahoo.com
98        theresa.murphy@gmail.com
99         tammy.young@comcast.net
Name: E Mail, Length: 100, dtype: object

In [23]:
df=d['Salary']/50
print(df)

0     3365.02
1     1021.26
2     1003.10
3     3605.88
4     2352.84
       ...
95    2595.48
96    3123.88
97    1913.46
98    1020.30
99    1873.00
Name: Salary, Length: 100, dtype: float64

In [25]:
print(d.loc[d['Salary']==168251])

     Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0  677509.0        Drs.       Lois              H    Walker      F

                    E Mail  Father's Name Mother's Name Mother's Maiden Name  \
0  lois.walker@hotmail.com  Donald Walker  Helen Walker                Lewis

     Salary
0  168251.0

In [26]:
print(d.loc[d['Salary']==129774])

      Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
95  639892.0         Mr.       Jose              K      Hill      M

                   E Mail Father's Name Mother's Name Mother's Maiden Name  \
95  jose.hill@hotmail.com   Carlos Hill     Anna Hill                Hayes

      Salary
95  129774.0