In [7]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Original dataframe with NaN\n",df)
print("/n")
print("Drooped Dataframe\n",df.dropna())
print("\n")

Original dataframe with NaN
         one       two     three
a -2.193676  1.062559  0.254877
b -2.528397  0.505175  0.032882
c       NaN       NaN       NaN
d -0.692280 -1.248207  0.765436
e       NaN       NaN       NaN
f  0.934609  2.049817 -2.004826
/n
Drooped Dataframe
         one       two     three
a -2.193676  1.062559  0.254877
b -2.528397  0.505175  0.032882
d -0.692280 -1.248207  0.765436
f  0.934609  2.049817 -2.004826

In [12]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Original dataframe with NaN\n",df)
print("/n")
print("NaN replaced with 9:\n",df.fillna(9))

Original dataframe with NaN
         one       two     three
a -0.610356  0.094527  1.381760
b -0.233362 -0.198290 -0.437971
c       NaN       NaN       NaN
d -0.380974  0.693222 -0.202444
e       NaN       NaN       NaN
f  0.746120  0.759807  0.045885
/n
NaN replaced with 9:
         one       two     three
a -0.610356  0.094527  1.381760
b -0.233362 -0.198290 -0.437971
c  9.000000  9.000000  9.000000
d -0.380974  0.693222 -0.202444
e  9.000000  9.000000  9.000000
f  0.746120  0.759807  0.045885

In [17]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Original dataframe with NaN\n",df)
print("\n NaN with true fill:\n")
print("/n")
print(df["one"].isnull())

Original dataframe with NaN
         one       two     three
a -0.814755  0.430857 -0.199275
b -0.697171  0.873533 -0.080527
c       NaN       NaN       NaN
d  1.761691 -0.516073 -0.754128
e       NaN       NaN       NaN
f -0.138057  0.244778 -1.291027

 NaN with true fill:

/n
a    False
b    False
c     True
d    False
e     True
f    False
Name: one, dtype: bool

In [19]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Original dataframe with NaN\n",df)
print("\n NaN filled with Backgroundvalues:\n")
print(df.fillna(method='bfill'))

Original dataframe with NaN
         one       two     three
a -0.140772  0.149297  0.828356
b  1.194370  0.230615  0.618077
c       NaN       NaN       NaN
d -0.333687  0.267886  0.742074
e       NaN       NaN       NaN
f  0.872859  0.271781 -1.562425

 NaN filled with Backgroundvalues:

        one       two     three
a -0.140772  0.149297  0.828356
b  1.194370  0.230615  0.618077
c -0.333687  0.267886  0.742074
d -0.333687  0.267886  0.742074
e  0.872859  0.271781 -1.562425
f  0.872859  0.271781 -1.562425

In [22]:
df=pd.DataFrame(np.random.randn(4,3),index=["a","b","d","f"],columns=["one","two","three"])
df=df.reindex(["a","b","c","d","e","f"])
print("Original dataframe with NaN\n",df)
print("\n NaN filled with forward groundvalues:\n")
print(df.fillna(method='ffill'))

Original dataframe with NaN
         one       two     three
a -0.080529 -1.148785 -0.936331
b -1.384840 -0.161099 -0.736174
c       NaN       NaN       NaN
d  0.590479  0.248104 -1.160003
e       NaN       NaN       NaN
f -0.539112 -0.084300  1.066804

 NaN filled with forward groundvalues:

        one       two     three
a -0.080529 -1.148785 -0.936331
b -1.384840 -0.161099 -0.736174
c -1.384840 -0.161099 -0.736174
d  0.590479  0.248104 -1.160003
e  0.590479  0.248104 -1.160003
f -0.539112 -0.084300  1.066804

In [24]:

df=pd.DataFrame({'one':[10,20,30,40,50],"two":[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n Dataframe with values:\n")
print(df.replace({10:5,80:40}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50   10

 Dataframe with values:

   one  two
0    5   60
1   20   70
2   30   40
3   40    0
4   50    5