In [3]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/dataset510.csv")#in this we used location 
print(d)

    s.no       first name gender login time  salary  bonus(%) team
0      1     mohammed ali   male      10:24   12000         8   csk
1      2            tyson   male       5:25   15000        10   csk
2      3           cornor   male       5:45   19000        13   kkr
3      4             alex   male       6:00   12000        17   kkr
4      5              jon   male      11:11   12500        12   rcb
..   ...              ...    ...        ...     ...       ...   ...
95    96    david fincher   male      12:30   34500        17    mi
96    97      guy ritchie   male      12:45   24500        12   rcb
97    98    roger deakins   male       5:00   91000        11    gt
98    99  stanley kubrick   male       5:05   57300         8    dc
99   100            denis   male       6:10   73060         9   srh

[100 rows x 7 columns]

In [6]:
import pandas as pd
df=pd.DataFrame(d)
print("column:",df.columns)
print(df.shape)

column: Index(['s.no', 'first name', 'gender', 'login time', 'salary', 'bonus(%)',
       'team '],
      dtype='object')
(100, 7)

In [13]:
import pandas as pd
d=pd.read_csv("dataset510.csv")#in this we uploaded the file to jupyter and just used the file name instead of location
print("            name\n",df["first name"])

            name
 0        mohammed ali
1               tyson
2              cornor
3                alex
4                 jon
           ...
95      david fincher
96        guy ritchie
97      roger deakins
98    stanley kubrick
99              denis
Name: first name, Length: 100, dtype: object

In [14]:
print(d.loc[d['salary']==57300])

    s.no       first name gender login time  salary  bonus(%) team
8      9       maarimuthu   male       5:05   57300         8    dc
18    19          krishna   male       5:05   57300         8    dc
28    29             vsix   male       5:05   57300         8    dc
38    39            nakai   male       5:05   57300         8    dc
48    49            asics   male       5:05   57300         8    dc
58    59           casey    male       5:05   57300         8    dc
68    69           hardik   male       5:05   57300         8    dc
78    79      carbeurator   male       5:05   57300         8    dc
88    89            supra   male       5:05   57300         8    dc
98    99  stanley kubrick   male       5:05   57300         8    dc

In [15]:
df=d['salary']/50
print(df)

0      240.0
1      300.0
2      380.0
3      240.0
4      250.0
       ...
95     690.0
96     490.0
97    1820.0
98    1146.0
99    1461.2
Name: salary, Length: 100, dtype: float64