In [1]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original Dataframe:\n",info)
print("\n Square root:\n",info.apply(np.sqrt))
#for axis 1 it sums column for axis1=> rows
print("\n Sum of each column:\n",info.apply(np.sum,axis=0))
print("\n Sum of each rows:\n",info.apply(np.sum,axis=1))

 Original Dataframe:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column:
 S    12
R    36
dtype: int64

 Sum of each rows:
 0    12
1    12
2    12
3    12
dtype: int64

In [2]:
import pandas as pd
import numpy as np
info=pd.DataFrame(([2,4,6],[1,3,5],[5,8,7]),columns=["X","Y","Z"])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [8]:
import pandas as pd
import numpy as np
ad=pd.DataFrame([['Sai',88],['Poo,70']],columns=['EmpName','ID'])
print(ad)
ad['Age']=[20,18]
print("\n Adding new column:\n",ad)
ad['Sex']=['Male','Female']
print("Adding new column:\n",ad)

  EmpName    ID
0     Sai  88.0
1  Poo,70   NaN

 Adding new column:
   EmpName    ID  Age
0     Sai  88.0   20
1  Poo,70   NaN   18
Adding new column:
   EmpName    ID  Age     Sex
0     Sai  88.0   20    Male
1  Poo,70   NaN   18  Female

In [12]:
#to add a new column
import pandas as pd
import numpy as np
ad=pd.DataFrame([['Sai',88],['Poo',70]],columns=['EmpName','ID'])
print(ad)
a=ad.assign(Age=[20,18])
print("Adding a new column:\n",a)

  EmpName  ID
0     Sai  88
1     Poo  70
Adding a new column:
   EmpName  ID  Age
0     Sai  88   20
1     Poo  70   18

In [16]:
import pandas as pd
import numpy as np

info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col1','col2'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col2')
print(info3)

       col1      col2
3 -1.336031  0.420412
2  1.352784  0.562231
0 -0.268562  0.903264
4 -0.759175  0.833146
1 -0.519055  0.993608
       col1      col2
0 -0.268562  0.903264
1 -0.519055  0.993608
2  1.352784  0.562231
3 -1.336031  0.420412
4 -0.759175  0.833146
       col1      col2
3 -1.336031  0.420412
2  1.352784  0.562231
4 -0.759175  0.833146
0 -0.268562  0.903264
1 -0.519055  0.993608

In [4]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Rocky bhai','Anu','Bala','Raya'],'sub':['sub1','sub2','sub3','sub4']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Winter','Summer','Monsoon','Spring'],'sub':['sub2','sub4','sub3','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

   id        Name   sub
0   1  Rocky bhai  sub1
1   2         Anu  sub2
2   3        Bala  sub3
3   4        Raya  sub4
   id     Name   sub
0   1   Winter  sub2
1   2   Summer  sub4
2   3  Monsoon  sub3
3   4   Spring  sub5
   id      Name_x sub_x   Name_y sub_y
0   1  Rocky bhai  sub1   Winter  sub2
1   2         Anu  sub2   Summer  sub4
2   3        Bala  sub3  Monsoon  sub3
3   4        Raya  sub4   Spring  sub5