In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
import pandas as pd
emp=pd.Series(["Uma","Siva","Sindhu","Ravi"])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
Result=pd.DataFrame(frame)
print("Series to Dataframe \n")
print(Result)

Series to Dataframe

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [14]:
#Extraction
print("Extracting the Second row \n ")
print(Result['Emp'])

Extracting the Second row

0       Uma
1      Siva
2    Sindhu
3      Ravi
Name: Emp, dtype: object

In [16]:
#Adding a new column
Result["Age"]=pd.Series([20,18,30,50])
print(Result)

      Emp  ID  Age
0     Uma  10   20
1    Siva  20   18
2  Sindhu  30   30
3    Ravi  40   50

In [17]:
#delete a existing column
del Result['Age']
print(Result)

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [19]:
#slicing
print("Slice Row\n",Result[1:3])

Slice Row
       Emp  ID
1    Siva  20
2  Sindhu  30

In [21]:
#location
print("\n Extracting  the second row \n")
print(Result.loc[1])

 Extracting  the second row

Emp    Siva
ID       20
Name: 1, dtype: object

In [4]:
#concadinating
a2=pd.DataFrame([["udaya",10],['Roberto',20]],columns=['Emp','ID'])
print("\n Adding new row values\n\n",pd.concat([result,a2]))

NameError: name 'result' is not defined